.headerContainer h1{
    color: red;
}

.headerContainer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: #fff;
}

.h-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 60%;
    align-items: center;
    overflow-x: hidden;
}

.h-menu nav{
    display: flex;
    gap: 2rem;
    align-items: center;
    z-index: 2;
    overflow-x: hidden;
}

.hide{
    display: none;
}

button{
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    color: #fff;
    border: none;
    background-color: rgb(43, 117, 255);
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

.mobile-icon{
    display: none;
}

@media (max-width: 768px) {
    .mobile-icon {
        display: block;
        z-index: 1000;
    }
    .h-menu nav {
        display: flex;
        color: black;
        position: fixed; /* Alterado para "fixed" para evitar rolagem horizontal */
        top: 10;
        right: 0;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        transition: all 300ms ease-in;
    }
}


